/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
}
.table td,
.table th {
    font-size: x-large;
    text-align: center;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
}
.table button {
    font-size: larger;
    color: white;
    padding: 5px 16px;
    background: green;
    margin: 0 0.2rem;
}

.table button:hover{
    background: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.advertise{

}

Link{
    background: #aa1111;
}

.w3-bar{

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: #000;
}

.border-line {
    border-bottom: 3px solid black;
    margin: 0 auto;
    height: 1em;
}

.card-body{
    padding:3%;
}

h3.car-title {
    text-align: center;
    color: blue;
}

.short-line {
    width: 45%;
}

.long-line {
    width: 80%;
}

.card-header{
    height: 5%;
    background-color: #aa1111;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**
 * single product page - product name
 */

h3.price {
    text-align: center;
    color: blue;
    color: green;
    font-weight: 1000;
    font-weight: bold;
}

.card-p{
    color: maroon;
}

.name {
    background: indigo;
    color: #fff;
    font-weight: bold;
}

/* black shade form 10-1 */
.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

/**
 * product image on card
 */

.product-img {
    min-height: 100px;
}

.jumbotron h2 {
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron img {
        margin-top: 10px;
    }
}

/**
 * jumbotron animation
 */

.jumbotron {
    padding: 0px 0px 0px 0px;
    height: 180px;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
